# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# read the cities.csv to create dataframe, previous cells are not needed to be executed as long as cities.csv was created
cities = pd.read_csv("cities.csv")
cities.head(5)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed
0,0,bethel,1,US,1588117403,25,41.37,-73.41,58.19,4.70
1,1,bathsheba,75,BB,1588117403,83,13.22,-59.52,78.80,14.99
2,2,lithgow,90,AU,1588117403,88,-33.48,150.15,67.21,10.29
3,3,hilo,20,US,1588117298,58,19.73,-155.09,78.44,12.75
4,4,tabou,97,CI,1588117404,85,4.42,-7.35,80.58,5.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Latitude", "Longitude"]]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
narrowed_df = cities.loc[(cities["Temperature"] > 70) & (cities["Temperature"] < 80) & (cities["Cloudiness"] == 0), :]
narrowed_df = narrowed_df.dropna(how='any')
narrowed_df.reset_index(inplace=True)
del narrowed_df['index']
narrowed_df.head(5)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed
0,34,ishurdi,0,BD,1588117406,80,24.13,89.08,75.69,3.33
1,42,pisco,0,PE,1588117407,73,-13.70,-76.22,70.32,17.22
2,71,arraial do cabo,0,BR,1588117409,83,-22.97,-42.03,73.40,13.87
3,180,keti bandar,0,PK,1588117420,89,24.14,67.45,78.78,15.10
4,237,poum,0,NC,1588117426,71,-20.23,164.02,77.86,10.02

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = narrowed_df
hotel_list = []

for i in range(len(narrowed_df)):
    lat = hotel_df.loc[i]['Latitude']
    lng = hotel_df.loc[i]['Longitude']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotel_list.append(jsn['results'][0]['name'])
    except:
        hotel_list.append("")
hotel_df["Hotel Name"] = hotel_list
hotel_df = hotel_df.dropna(how='any')
hotel_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed,Hotel Name
0,34,ishurdi,0,BD,1588117406,80,24.13,89.08,75.69,3.33,Ishwardi
1,42,pisco,0,PE,1588117407,73,-13.70,-76.22,70.32,17.22,Pisco
2,71,arraial do cabo,0,BR,1588117409,83,-22.97,-42.03,73.40,13.87,Cabo Frio
3,180,keti bandar,0,PK,1588117420,89,24.14,67.45,78.78,15.10,Keti Bandar
4,237,poum,0,NC,1588117426,71,-20.23,164.02,77.86,10.02,Poum

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [7]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))